<div class="overall-section gradient">

	<div class="header-section">
		<h1>CROWNKEEPERS</h1>

		<%= image_tag 'crownkeepers-logo.png', :class => "headerimage" %>
		<span class="smallfont">presented by:</span>
			<ul class="partners">
				<li><a target='_blank' href="http://www.thespreadmag.com">
					<%= image_tag 'spreadmag.jpg' %>
				</a></li>
				<li><a target='_blank' href="http://www.duppandswat.com">
					<%= image_tag 'duppswat.jpg' %>
				</a></li>
			</ul>
	</div>
	<div class="main-section">
		<iframe class="commercials" src="https://www.youtube.com/embed/g8uIB1bbUDU" frameborder="0" allowfullscreen></iframe>
	</div>



	<div class="main2-section">

		<div class="comm-words">
			To further extend our reach into the artistic realm of Charlotte, the non-profit, CrownKeepers, was created. Through various projects, educational workshops and events, our goal is to push the art of creating to the masses. Specifically, we host monthly events, entitled #ImAnArtistDammit, that encourage local artists to perform and/or showcase their talent. #WeArtTheWorld is an initiative designed to surprise citizens with a creative outlet. For this, we place large bags of art supplies, randomly, throughout the city, in hopes of someone finding it and creating 'magic' with the contents. Additionally, we partner with Charlotte area schools to show students the importance of education, as well as inform them that creative-based careers are a viable option.

			Thank you for contributing...

		</div>

		<div class="comm-words2">

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="LHVS8SH9ZKTPC">
		<input type="image" src="http://duppandswat.com/wp-content/uploads/2015/06/donate-button.png" width="100%" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>




		</div>
		<div class="insta-box">
			<!-- SnapWidget -->
			<iframe src="http://snapwidget.com/sc/?u=ZHVwcGFuZHN3YXR8aW58MjAwfDN8M3x8bm98NXxub25lfHx5ZXM=&v=18614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:600px; height:200px"></iframe>
		</div>
	</div>



	

</div>